{% extends "master.html" %}

{% block title %}
  Products
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center g-2 mt-4">
  <div class="col-6">
    <h4>List of products</h4>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product_list %}
          <tr class="">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
              <a href="{% url "product-update" product.pk %}">Update</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}